<style>
    .ng-leave {
        transition: 0s;
    }
</style>
<div style="padding: 1px 1px"><h5>You are here: <b>/edit</b></h5></div>

<div ng-if="hasErrorMessage" class="alert alert-danger" role="alert" style="margin-bottom: 0px">{{errorMessage}}</div>

<div class="row">
    <div class="col-md-6" style="padding: 20px 20px">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Edit expense:</h3>
            </div>
            <div class="panel-body">

                <select ng-model="selectedType"
                        data-ng-options="type for type in expenseTypes" class="input-large form-control" style="padding-left: 8px">
                    <option value="">-Select Expense type-</option>
                </select><br/>

                <input id="expenseAmount" class="input-large form-control" type="text" ng-model="amount"
                       onkeypress='validate(event)' placeholder="Enter amount"/><br/>

                <input type="text" id="expenseDate" ng-model="expenseDate" style="padding: 10px" class="datepicker form-control input-large"
                       readonly/><br/>

                <textarea class="form-control" ng-model="description" rows="4" style="resize: none"
                          placeholder="Short description"></textarea>

                <button class="btn btn-primary form-control" ng-click="edit()" style="margin-top: 25px">Edit now</button>

            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding: 20px 10px">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Today:</h3>
            </div>
            <div class="panel-body">
                Total: <b>300.00 BGN </b> in 12 transactions
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Yesterday:</h3>
            </div>
            <div class="panel-body">
                Total: <b>560.00 BGN </b> in 18 transactions
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Last week:</h3>
            </div>
            <div class="panel-body">
                Total: <b>4568.00 BGN </b> in 76 transactions
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Last month:</h3>
            </div>
            <div class="panel-body">
                Total: <b>28 525.00 BGN </b> in 403 transactions
            </div>
        </div>

    </div>
</div>