<div style="padding: 1px 1px"><h5>You are here: <b>/report</b></h5></div>
<h3 style="color: #5e5e5e; text-align: center">EXPENCES REPORT</h3>

<style>button {
    margin-right: 10px;
}
</style>

<div class="input-group" style="margin: 10px auto">
    <span class="input-group-addon"><span class="glyphicon glyphicon-zoom-in"></span></span>
    <input class="form-control" type="text" ng-model="searchText" placeholder="Search for expenses"/>
</div>


<div id="my-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true" style="height: 100px">
    <div class="modal-dialog modal-sm" style="height: 100px; margin-top: 300px">
        <div class="modal-content" style="height: 100px">

        </div>
    </div>
</div>


<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Edit/Del</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="datalist in datalists | limitTo: paginationLimit() | filter:searchText" class="repeat-animation">
        <th id="id" scope="row">{{$index}}</th>
        <!--<td id="date"><a href="#">{{datalist.date}}</a></td>-->
        <td id="date">{{datalist.date}}</td>
        <td id="type">{{ datalist.type }}</td>
        <td id="amount"><b>{{ datalist.amount }}</b> BGN</td>
        <td id="description">{{ datalist.description }}</td>
        <td id="edit-del">
            <div class="row" align="center" style="width: 100px;">
                <a href="#/edit/{{datalist.id}}" class="btn btn-info btn-xs"
                   style="margin: 1px 1px"><span
                        class="glyphicon glyphicon-pencil"></span></a>
                <button type="button" class="btn btn-danger btn-xs" ng-click="deleteExpense(datalist.id)"
                        style="margin: 1px 1px"><span
                        class="glyphicon glyphicon-trash"></span></button>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div class="col-md-6 col-sm-6" style="padding: 20px 10px">
    <div class="input-group" style="margin: 10px 10px">
        <button class="btn btn-primary" ng-click="showMoreItems()">Show more</button>
        <button class="btn btn-success" ng-click="showAllItems()">Show all</button>
        <button class="btn btn-danger" ng-click="deleteAllExpenses()">Delete all</button>
    </div>
</div>
